{{#each pages}}
{{#if_eq ../filename compare=filename}}

<!DOCTYPE html>
<html>
    <head>
        <title>FengShui RealTime</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="keywords" content="feng shui, feng shui tips, feng shui bedroom, feng shui colors, feng shui home, feng shui home decorating, feng shui house, feng shui theory, feng shui for health, feng shui for prosperity, feng shui for romance, feng shui office, feng shui decorating, feng shui guide by room, children feng shui, interior design with feng shui">
        <meta name="description" content="{{ ../data.description }}">

        <meta content="http://fengshuirealtime.com/" property="og:url">
        <meta content="FengShui RealTime" property="og:title">
        <meta content="Now discover tips and advices to give your home goog Feng Shui." property="og:description">
        <meta content="{{assets}}images/misc/facebook.jpg" property="og:image">

        <link rel="shortcut icon" href="{{assets}}images/misc/favicon.ico">

        <meta http-equiv="refresh" content="0;URL=http://fengshuirealtime.com/">
    </head>
    <body>

    </body>
</html>

{{/if_eq}}
{{/each}}

<!--
<div class="docs-section">
  <div class="docs-header" id="content">
    <h1>{{../data.title}}</h1>
  </div>
  {{#each ../data.gists}}
    {{gist this}}
  {{/each}}
</div>
-->